extends layout

mixin printInfo(lecture)
  a(href='#')
    .lecture-info
      h6.lecture-title #{lecture.lecture}
      h6.lecture-location #{lecture.location}
    .lecture-noti(data-toggle='tooltip', data-placement='top', title='', data-original-title=`${lecture.memo || 'memo'}`)
      i.material-icons.ic-lecture-noti assignment
      span.lecture-noti-title #{lecture.memo || 'memo'}

mixin print(lecture, day)
  if (lecture.isPositioned && lecture.dayofweek.includes(day))
    - const duration = lecture.end_time - lecture.start_time
    - const rand = (parseInt(lecture.code.substr(-2)) % 10 + 1)
    - const paddedNumber = rand.toString().padStart(2, '0')
    if (duration === 2)
      li(class=`lecture-time two-hr hr-${lecture.start_time}` data-event=`lecture-${paddedNumber}`)
        +printInfo(lecture)
    else 
      li(class=`lecture-time hr-${lecture.start_time}` data-event=`lecture-${paddedNumber}`)
        +printInfo(lecture)

block content
  .container-lecture
    section.header
      h3.headline 시간표 만들기
    section.section-nav
      form#search-form.form-search
        input.form-control(type='text', placeholder='강의 검색')
        span
          i.material-icons.ic-search search
      ul.list-lecture
        each lecture in lectures
          if !lecture.isPositioned
            li.card-lecture
              a.lecture-title(href='#')=lecture.lecture
              h6.lecture-time
                i.material-icons.ic-lecture-info access_time
                span #{lecture.start_time}:00 - #{lecture.end_time}:00 | (#{lecture.dayofweek})
              ul.list-lecture-info
                li 교과목 코드: #{lecture.code}
                li 담당 교수 : #{lecture.professor}
                li 강의실 : #{lecture.location}
    section.section-list
      .container-xl
        .table-schedule
          .timeline
            ul
              each time in times
                li
                  span=time
          .table-schedule-subject
            ul.list-lecture-item
              li.timeline-vertical
                .top-info.today
                  h4.day Mon
                ul
                  each lecture in lectures
                    +print(lecture, '월')
              li.timeline-vertical
                .top-info
                  h4.day Tue
                ul
                  each lecture in lectures
                    +print(lecture, '화')
              li.timeline-vertical
                .top-info
                  h4.day Wed
                ul
                  each lecture in lectures
                    +print(lecture, '수')
              li.timeline-vertical
                .top-info
                  h4.day Thu
                ul
                  each lecture in lectures
                    +print(lecture, '목')
              li.timeline-vertical
                .top-info
                  h4.day Fri
                ul
                  each lecture in lectures
                    +print(lecture, '금')
  #modal-lecture-info.modal.fade(role='dialog', aria-hidden='true')
    .modal-dialog(role='document')
      .modal-content
        .modal-header
          button.close(type='button', data-dismiss='modal', aria-label='Close')
            span(aria-hidden='true') &times;
        .modal-body
          h3.lecture-title &#xC6F9; &#xD504;&#xB85C;&#xADF8;&#xB798;&#xBC0D;
          ul.lecture-info
            li.lecture-time
              i.material-icons.ic-lecture-info access_alarm
              span 강의 시간 : 09:00 - 10:50 | (&#xC6D4;), (&#xC218;)
            li.lecture-code.lecture-code__code
              i.material-icons.ic-lecture-info code
              span 교과목 코드 : A0000001
            li.lecture-code.lecture-code__prof
              i.material-icons.ic-lecture-info school
              span 담당 교수: &#xAE40;&#xC9C4;&#xC218;
            li.lecture-code.lecture-code__location
              i.material-icons.ic-lecture-info business
              span 강의실 : &#xACF5;&#xD559;&#xAD00; 204
          .lecture-description
            p.txt-description
              | &#xBCF8; &#xAC15;&#xC758;&#xC5D0;&#xC11C;&#xB294; JSP&#xB97C; &#xC774;&#xC6A9;&#xD55C; &#xC6F9; &#xAE30;&#xBC18; &#xD504;&#xB85C;&#xADF8;&#xB798;&#xBC0D; &#xAE30;&#xCD08; &#xBC0F; &#xC751;&#xC6A9;&#xAE30;&#xC220;&#xC5D0; &#xB300;&#xD574; &#xD559;&#xC2B5;&#xD569;&#xB2C8;&#xB2E4;. &#xD2B9;&#xD788; &#xC2E4;&#xC2B5; &#xC704;&#xC8FC;&#xC758; &#xC218;&#xC5C5;&#xC73C;&#xB85C; &#xD504;&#xB85C;&#xADF8;&#xB798;&#xBC0D; &#xC2A4;&#xD0AC; &#xD5A5;&#xC0C1; &#xBC0F;
              | &#xC2E4;&#xBB34; &#xB2A5;&#xB825;&#xC744; &#xAC16;&#xCD9C; &#xC218; &#xC788;&#xB3C4;&#xB85D; &#xD569;&#xB2C8;&#xB2E4;.
        .modal-footer
          button.btn.btn-light(type='button', data-dismiss='modal') 취소
          button.registerBtn.btn.btn-primary(type='button') 과목 등록하기
  #modal-lecture-task.modal.fade(role='dialog', aria-hidden='true')
    .modal-dialog(role='document')
      .modal-content
        .modal-header
          button.close(type='button', data-dismiss='modal', aria-label='Close')
            span(aria-hidden='true') &times;
        .modal-body
          h3.lecture-title title comes here
          ul.lecture-info
            li.lecture-time
              i.material-icons.ic-lecture-info access_alarm
              span time comes here
            li.lecture-code.lecture-code__code
              i.material-icons.ic-lecture-info code
              span code comes here
            li.lecture-code.lecture-code__prof
              i.material-icons.ic-lecture-info school
              span prof name comes here
            li.lecture-code.lecture-code__location
              i.material-icons.ic-lecture-info business
              span location comes here
          .lecture-description
            p.txt-description description comes here
          .lecture-memo
            h5.memo-header 메모
            ul
              li.memo-list
                .memo-content(data-toggle='tooltip', data-placement='top', title='', data-original-title='과제 설명 텍스트 과제 설명 텍스트 과제 설명 텍스트')
                  i.material-icons.ic-lecture-noti assignment
                  span.lecture-noti-title memo comes here;
                .memo-btn
                  a(href='')
                    i.material-icons.ic-lecture-noti delete
        .modal-footer
          .left
            button.btn.btn-light-primary(type='button', data-toggle='popover', data-trigger='click', data-placement='right', data-html='true')
              | 메모 등록
          .right
            button.btn.btn-light(type='button', data-dismiss='modal') 확인
            button.btn.btn-danger(type='button') 과목 삭제하기
  #PopoverContent(style='display: none;')
    h5.schedule-title 메모 등록하기
    .form-group
      label.col-form-label
        | 제목
        input#recipient-name.form-control(type='text', placeholder='제목 추가', value="기본 제목", maxLength=15)
    .form-group
      label.col-form-label(for='message-text') 설명
      textarea#message-text.form-control(placeholder='설명 추가', value="기본 내용")
    button.btn.btn-primary.btn-save(type='button', data) 추가
